<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
			point="org.eclipse.ui.perspectives">
		<perspective
			class="jp.sourceforge.mergedoc.PleiadesJavaPerspectiveFactory"
			id="jp.sourceforge.mergedoc.PleiadesJavaPerspective"
			icon="icons/jperspective.png"
			name="Java">
		</perspective>
	</extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            editorOnboardingImage="icons/onboarding_jperspective.png"
            targetID="jp.sourceforge.mergedoc.PleiadesJavaPerspective">
         <editorOnboardingCommand id="org.eclipse.debug.ui.commands.DebugLast"></editorOnboardingCommand>
         <editorOnboardingCommand id="org.eclipse.ui.window.quickAccess"></editorOnboardingCommand>
         <editorOnboardingCommand id="org.eclipse.text.quicksearch.commands.quicksearchCommand"></editorOnboardingCommand>
         <editorOnboardingCommand id="org.eclipse.ui.window.showKeyAssist"></editorOnboardingCommand>
         <editorOnboardingCommand id="org.eclipse.ui.newWizard"></editorOnboardingCommand>
         <editorOnboardingCommand id="org.eclipse.jdt.ui.navigate.open.type"></editorOnboardingCommand>
      </perspectiveExtension>
   </extension>

</plugin>
